body {
    font-family: 'Gill Sans Light', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(116, 219, 180);
    margin:0;
}
hr{
    color: darkslategrey;
}
h1 {
    font-weight: 500;
}
label {
    display: block;
    margin: 3pt;
}
p{
    line-height: 1.6;
    font-size: 25px;
}
p1{
    font-weight: 600;
}
p2{
    line-height: 1.6;
    font-size: 25px;
}
p3{
    line-height: 1.6;
    font-size: 25px;
}
p4{
    line-height: 1.6;
    font-size: 25px;
}
.logo {
    line-height: 1.6;
    height: 35px;
}

.input-group {
    display: inline-block;
}